@font-face {
	font-family: "iconfont";
	/* Project id 3422919 */
	src: url('//at.alicdn.com/t/font_3422919_xw681okc95.woff2?t=1653303896397') format('woff2'),
		url('//at.alicdn.com/t/font_3422919_xw681okc95.woff?t=1653303896397') format('woff'),
		url('//at.alicdn.com/t/font_3422919_xw681okc95.ttf?t=1653303896397') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
	content: "\e62b";
}
